@page
@model PropertyApp.Pages.Access.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserAccess</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.IdApartmentNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.IdApartmentNavigation.IdApartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.IdUserNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.IdUserNavigation.IdUser)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserAccess.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
