@page
@model PropertyApp.Pages.Access.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAccess</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.IdApartmentNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.IdApartmentNavigation.IdApartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccess.IdUserNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccess.IdUserNavigation.IdUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserAccess.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
